@import "../../../../scss/import";

.chart-wrapper {
  height: 300px;
  width: 100%;
  color: #000;
  position: relative;
  .rd3-legend-item span {
    color: #fff !important;
  }
  .rd3-linechart-xaxis, .rd3-linechart-yaxis, .rd3-areachart-xaxis, .rd3-areachart-yaxis, .rd3-barchart-xaxis, .rd3-barchart-yaxis, .rd3-scatterchart-xaxis, .rd3-scatterchart-yaxis {
    path {
      stroke: #fff !important;
    }
    text {
      fill: #fff;
    }
    .tick {
      line {
        stroke: #fff !important;
      }
      text {
        fill: #fff;
      }
    }
  }
  .rd3-piechart-arc {
    g {
      line {
        stroke: #fff !important;
      }
      text {
        fill: #fff !important;
      }
    }
  }
  .rd3-treemap{
    .treemap{
      g:hover > text{
        fill: #000!important;
      }
    }
  }
}