/**
 * Created by Donghui Huo on 2016/5/6.
 */

.panel-body {
  h1 {
    font-weight: 300;
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    text-decoration: none;
    outline: 0;
    display: inline-block;
  }
}