@import "../../../../../scss/import";

main, .al-main {
  margin-left: 180px;
  padding: 66px 0 0;
 // min-height: 500px;
  height: 100%;
  @include transition(all 200ms linear);
  @media (max-width: $screen-lg-min - 1) {
    margin-left: 50px;
  }
  @media (max-width: $screen-xs-min - 1) {
    margin-left: 0px;
  }

  &.collapse {
    margin-left: 50px;
    @media (max-width: $screen-xs-min - 1) {
      margin-left: 0px;
    }
  }

  &.un-collapse {
    margin-left: 180px;
    @media (max-width: $screen-lg-min - 1) {
      margin-left: 50px;
    }
    @media (max-width: $screen-xs-min - 1) {
      margin-left: 0px;
    }
  }
  .back-top {
    width: 52px;
    height: 52px;
    cursor: pointer;
    z-index: 9999;
    display: none;
    text-decoration: none;
    right: 64px;
    bottom: 40px !important;
    font-size: 52px;
    text-align: center;
    opacity: .4;
    color: $brand-primary;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    line-height: 52px;
    position: fixed;
    @include rotate(180deg);
    &:before {
      content: '\e903';
    }
    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  //footer
  .al-footer {
    position: absolute;
    vertical-align: middle;
    line-height: 32px;
    width: 100%;
    display: block;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    @include clearfix;
    .al-footer-right {
      float: right;
      @media (max-width: $screen-xs-min - 1) {
        float: none;
        text-align: center;
      }
    }
    .al-footer-left {
      float: left;
      @media (max-width: $screen-xs-min - 1) {
        float: none;
        text-align: center;
      }
    }
    .al-copy, .al-share {
      display: inline-block;
    }
    .al-share {
      margin: 0px 0 0 12px;
      padding: 0;
      list-style: none;
      @media (max-width: $screen-xs-min - 1) {
        margin-left: 0px;
      }
      li {
        display: inline-block;
        margin-left: 16px;
        @media (max-width: $screen-xs-min - 1) {
          margin-left: 10px;
        }
        i {
          display: inline-block;
          cursor: pointer;
          color: #fff;
          padding: 0 7px;
          box-sizing: content-box;
          font-size: 16px;
          &:hover {
            @include scale(1.2);
          }
        }
        i.fa-wechat {
          background: #2f9833;
          &:before {
            content: "\e908";
          }
        }
        i.fa-weibo {
          background: #f29809;
          &:before {
            content: "\e909";
          }
        }
        i.fa-facebook {
          background: #3b5998;
          &:before {
            content: "\e90a";
          }
        }
      }
    }
  }
  > div {
    > .track-vertical {
      top: 0;
      bottom: 0;
      border-radius: 0;
      width: 4px;
      opacity: 1 !important;
      > .thumb-vertical {
        width: 4px;
      }
    }
  }
}

.al-content {
  margin: 0 20px;
  padding: 8px 0 40px;
  min-height: 100%;
  position: relative;
  @media (max-width: $screen-xs-min - 1) {
    margin: 0 10px;
  }
  .content-top {
    padding-top: 13px;
    padding-bottom: 27px;
    @include clearfix;
  }
  h1.al-title {
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 24px;
    opacity: .9;
    @media (max-width: $screen-xs-min - 1) {
      font-size: 20px;
    }
  }
  ul.al-breadcrumb {
    padding: 3px 0 0;
    margin: 0;
    float: right;
    list-style: none;
    > li {
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      @media (max-width: $screen-xs-min - 1) {
        font-size: 15px;
      }
    }
    > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
    }
  }
}

